@use "../utilities/variables" as *;

@media (min-width: 1025px) {
    .navbar {
        border-radius: 16px;
        justify-content: space-between;


        .navbar-brand img {
            width: 140px;
        }

        .navbar-nav {
            gap: 24px;
        }

        .nav-link {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1px;
            color: $opasto;
        }
    }

    .hero {
        .hero__videobg video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .hero__content {
        h3 {
            font-size: 21px !important;
            line-height: 55px;
        }

        h1 {
            font-size: 144px !important;
            padding-bottom: 21px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            width: 45%;
        }
    }


    .benefits {
        padding: 80px 48px;
        display: flex;
        flex-direction: column;
        gap: 56px;

        // ----- eco friendly -----
        .eco-friendly {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 21px;

            .eco-icon {
                display: flex;
                flex-direction: row;
            }

            h2 {
                font-size: 84px;
                line-height: 94px;
            }

            p {
                width: 30%;
                padding-top: 6px;
                font-size: 18px;
                text-align: left;
            }
        }

        .tarjetasfulbg {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }
    }



    section.interest {

        .div-tarjeta {
            margin-left: 150px;
            margin-right: 150px;
        }

        .flex-tags {
            margin-left: 222px;
            margin-right: 222px;
        }
    }

    .modal-content {

        #yachtSlidermodal {
            height: 500px;
        }

    }

    .experiences {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 84px;

        img {
            height: 300px;

        }
    }

    .gallery-img {
        h2 {
            font-size: 55px;
        }
    }

    .footer {


        .ftblock-top {
            margin-left: 84px;
            margin-right: 84px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            gap: 21px;

            .divone {
                width: 50%;
                display: flex;
                flex-direction: row;

                img {
                    display: flex;
                    justify-content: left;
                    width: 250px;
                }

                p {
                    text-align: left;
                    width: 70%;
                    align-content: center;
                }
            }
        }

    }

}