// Variables
@use "../utilities/variables" as *;

// contenedor de botones en bloque
.btn-div {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__btn {
        padding: 12px 21px;
        border-radius: 16px;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;

        &--primary {
            background-color: $aqua;
            border: none;
            color: white;

             &:hover {
                background-color: $ocean;
                color: white;
            }
        }

        &--phantom {
            width: max-content;
            border: solid 1px white;
            color: white;
            background-color: rgba($ocean,0.5);
            align-self: center;

            &:hover {
                background-color: white;
                color: $ocean;
            }
        }
    }
}

.btn--accent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: inline;
    color: $ocean;
    height: 3em;
    border-radius: 30em;
    font-size: 18px;
    font-family: "nunito sans";
    font-weight: 500;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    align-self: center;
    padding: 0px 34px;
}

.btn--accent::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #C3E7F1 0%, #519CAB 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn--accent:hover::before {
    width: 100%;
}