// Variables
@use "../utilities/variables" as *;

// contenedor de botones en bloque
.btn-div {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__btn {
        padding: 12px 21px;
        border-radius: 16px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 800;
        text-decoration: none;

        &--primary {
            background-color: $oladrillo;
            border: none;
            color: white;

            &:hover {
                background-color: $ocean;
                color: white;
            }
        }

        &--phantom {
            width: max-content;
            font-family: "open sans";
            font-size: 18px;
            font-weight: 500;
            border: solid 1px white;
            color: white;
            background-color: rgba($ocean, 0.5);
            align-self: center;

            &:hover {
                background-color: $ocean;
                border: none;
                color: white;
            }
        }
    }
}

.btn--accent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: inline;
    color: white;
    background-color: $oladrillo;
    border-radius: 30em;
    font-size: 18px;
    font-family: "open sans";
    font-weight: 500;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    align-self: center;
    padding: 9px 34px;
    transition: 0.3s;

    &:hover {
        background-color: $ladrillo;
    }
}