// variables
@use "../utilities/variables" as *;

// hero
.about-hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  text-align: center;

  &__videobg {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    z-index: -1;
    pointer-events: none;
    object-fit: cover;
  }

  h1 {
    margin-top: 100px;
    font-family: "amatic sc";
    color: white;
    font-size: 84px;
    line-height: 94px;
    font-weight: 700;
    padding-top: 55px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
  }

  p {
    font-family: "open sans";
    font-size: 16px;
    color: white;
    line-height: 26px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
  }
}

.intro-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;

  h3 {
    font-family: "open sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: $ocean;
    font-weight: 700;
  }

  h2 {
    font-family: "amatic sc";
    font-size: 34px;
    font-weight: 800;
  }

  h4 {
    font-family: "open sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: $ocean;
    font-weight: 700;
  }

  p {
    text-align: center;
  }
}

.letschat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 34px;
}

// community
.community {
  padding: 55px 16px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 16px;
  }

  h2 {
    font-family: "amatic sc";
    font-size: 34px;
    font-weight: 800;
    color: $oladrillo;

  }

  .description {
    font-family: "nunito sans";
    line-height: 26px;
    font-size: 16px;
    margin-top: 1rem;
    color: $ocean;
  }
}

#sailingGuada,
#sailingGuada .carousel-inner,
#sailingGuada .carousel-item {
  height: 450px;
  /* elegí el alto que quieras */
}

#sailingGuada img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* clave */
}

.aboutg {
  text-align: center;

  h3.aboutg-title {
    font-family: "amatic sc";
    font-size: 21px;
    font-weight: 900 !important;
    color: $ocean;
  }

  h2 {
    color: $oladrillo;
    padding-top: 21px;
  }
}

.aboutk {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .btn--accent {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    margin-top: 16px;
    margin-left: 34px;
    margin-right: 34px;
  }
}

#sailingSlider {
  height: 333px;
  overflow: hidden;
  margin-bottom: 21px;
}

#sailingSlider img {
  width: 100%;
  height: 333px;
  object-fit: cover;
  display: block;
}

#sailingSlider .carousel-item:nth-child(3) img {
  object-position: left center;
}

.btn-cntr {
  display: block;
  margin: 0 auto;
  margin-left: 34px;
  margin-right: 34px;
  margin-top: 16px;
  margin-bottom: 34px;
}

