// variables
@use "../utilities/variables" as *;

.blog-hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;

       &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        -webkit-mask-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 1) 70%,
                rgba(0, 0, 0, 0) 100%);

        mask-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 1) 70%,
                rgba(0, 0, 0, 0) 100%);
    }

    h1 {
        font-family: "raleway";
        font-size: 55px;
        line-height: 65px;
        font-weight: 700;
        padding-top: 55px;
        background: linear-gradient(135deg, $ocean, $oceanb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-family: "nunito sans";
        font-size: 21px;
        color: $ocean;
        line-height: 26px;
        font-weight: 400;
    }
}

.tagsi {
    margin-top: 16px;
}

// paginacion