// variables
@use "../utilities/variables" as *;

.blog-hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;

       &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        -webkit-mask-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 1) 70%,
                rgba(0, 0, 0, 0) 100%);

        mask-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 1) 70%,
                rgba(0, 0, 0, 0) 100%);
    }

    h1 {
        font-family: "amatic sc";
        font-size: 84px;
        line-height: 84px;
        font-weight: 900;
        
        background: linear-gradient(135deg, $ocre, $lemon);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-family: "open sans";
        font-size: 16px;
        color: $ocean;
        line-height: 26px;
        font-weight: 400;
        padding-bottom: 55px;
        padding-left: 34px;
        padding-right: 34px;
    }
}

.tagsi {
    margin-top: 16px;
    background-color: $arena;
    border-radius: 16px;
    padding: 7px 12px;
    color: $ocean;
    font-weight: 600;
}

// tarjetas
.card-body {
    .card-title {
        font-size: 34px;
        color: $opasto;
    }

    .card-text {
        font-family: "open sans";
    }
}