// VARIABLES
@use "../utilities/variables" as *;

// hero
.hero {
    min-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    .experiences-hero__videobg {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        width: 100%;
        height: 100vh;
        border: none;
        z-index: -1;
        pointer-events: none;
        object-fit: cover;
    }

    h1 {
        font-family: "amatic sc";
        font-size: 84px;
        text-align: center;
        font-weight: 700;
        color: white;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
    }

    h2 {
        font-family: "open sans";
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        color: white;
        font-weight: 700;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
        align-self: center;
        display: flex;
        justify-content: center;
    }

    p {
        color: white;
        font-family: "open sans";
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        font-weight: 500;
        padding: 0 16px;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
    }
}

.tarjeta {
    h5 {
        margin-top: 16px;
        font-family: "amatic sc";
        font-size: 55px;
        text-align: center;
        font-weight: 700;
        color: $ocre;
    }

    p {
        font-family: "open sans";
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        font-weight: 500;
    }
}

.container {

    .flavor {

        padding-left: 16px;
        padding-right: 16px;

        h2 {
            padding-top: 55px;
            text-align: center;
            color: $ocre;
            font-family: "amatic sc";
            font-size: 55px;
            line-height: 55px;
        }

        p {
            text-align: center;
        }


    }

    .tira-flavor {
            .tira {
                img {
                    height: 356px;
                    padding-bottom: 55px;
                }
            }
        }
}

.activities {
    padding-top: 55px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;

    }

    h3 {
        font-family: "amatic sc";
        color: white;
        font-size: 26px;
        line-height: 21px;
        font-weight: 900;
        text-align: center;
        padding: 0 7px;
        z-index: 3;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
    }

    h2 {
        font-family: "amatic sc";
        color: $ocre;
        font-size: 55px;
        line-height: 55px;
        font-weight: 900;
        text-align: center;
        padding: 0 7px;
    }

    .act {
        font-family: "open sans";
        color: $ocean;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        text-align: center;
        padding: 0 7px;
        z-index: 3;
    }

    p {
        font-size: 14px;
        color: white;
        font-weight: 300;
        z-index: 3;
        text-align: center;
    }

    .build {
        text-align: center;
        color: $ocean;
    }

    .tarjeta-fullbg--coral {
        background-image: url("../../img/ourboat.png");
         background-position: 0% 70%;
      
    }

    .tarjeta-fullbg--snork {
        background-image: url("../../img/pelicanoisland.jpg");
        background-position: bottom center;
        background-size: 644px;
    }

    .tarjeta-fullbg--reef {
        background-image: url("../../img/brain-coral.jpg");
    }

    .tarjeta-fullbg--kayak {
        background-image: url("../../img/couple-kayak-sanblas-on-sailboats.jpg");
    }

    .tarjeta-fullbg--jungle {
        background-image: url("../../img/jungle-jumping-sanblas-on-sailboats.png");
    }

    .tarjeta-fullbg--sunset {
        background-image: url("../../img/beach-walk.jpg");
    }

    .tarjeta-fullbg--guna {
        background-image: url("../../img/kuna-sanblasonsailboats.jpg");
    }

    .tarjeta-fullbg--yoga {
        background-image: url("../../img/yoga-san-blas-on-sailboats.jpg");
    }

    .tarjeta-fullbg--swim {
        background-image: url("../../img/best-snork.jpg");
    }

    .activities-cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}