// variables
@use "../utilities/variables" as *;
@use "../components/cards" as *;
@use "../components/buttons" as *;

body {
    background: linear-gradient(135deg, $oarena, $arena, $oarena);
}

// header
.navbar {
    font-family: "open sans";
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 5px 16px;
    background-color: rgba(white, 0.3);
    border-radius: 0px 0px 7px 7px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);

    /* blur */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(76, 70, 57, 0.2);

    /* sticky */
    position: fixed;
    z-index: 1000;

    /* Logo */
    .navbar-brand img {
        width: 111px;
    }

    /* Toggle */
    .navbar-toggler {
        border: none;

        &:focus,
        &:focus-visible,
        &:active {
            box-shadow: none;
        }

    }

    /* Reemplazar íconos */
    .navbar-toggler-icon {
        background-image: url("../img/menu-scale.svg");
    }

    .open .navbar-toggler-icon {
        background-image: url("../img/menu-close.svg");
    }
}

.lang-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1055; // encima de navbar y modals

    .lang-btn {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $aqua;
        border: none;

        &:hover {
            background-color: $ocean;
        }

        &:active {
            background-color: $ocre;
        }

        i {
            font-size: 1.3rem;
        }

        .dropdown-menu {
            font-family: "nunito sans";
        }
    }

}


// hero styles
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* video BG */
    .hero__videobg {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        margin: 0;
    }

    .hero__videobg video {
        position: absolute;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
    }

    .hero__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 02));
        z-index: 2;
    }

    /* Contenido sobre el video */
    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;
        text-align: center;
        padding: 16px;

        h1 {
            font-family: "open sans";
            font-size: 55px;
            font-weight: 700;
            color: $oarena;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
        }

        h3 {
            font-family: "amatic sc";
            font-size: 34px;
            color: white;
            font-weight: 600;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
        }

        p {
            font-family: "open sans";
            font-size: 18px;
            line-height: 26px;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
        }
    }
}

.experiences {
    padding: 55px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: "amatic sc";
        color: $oladrillo;
        font-size: 34px;
        line-height: 44px;
        font-weight: 900;
        text-align: center;
        padding: 0 7px;
    }

    h3 {
        font-family: "amatic sc";
        color: white;
        font-size: 44px;
        line-height: 44px;
        font-weight: 700;
        text-align: center;
        z-index: 2;
        text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.7);
    }

    p {
        font-family: "open sans";
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: black;
        padding: 0 16px;
    }

    .eco-friendly {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .eco-friendly img {
        width: 70px;
    }

    .tarjeta h2 {
        font-family: "open sans";
        font-weight: 700;
        font-size: 34px;
        line-height: 44px;
        color: $ocean;
    }

    .tarjeta-fullbg p {
        font-family: "open sans";
        font-size: 21px;
        line-height: 31px;
        text-align: center;
        color: white;
        z-index: 2;
    }

    .tarjeta-fullbg--captain {
        background-image: url(../img/sailing-san-blas-action-sailboats.webp);
        background-size: cover;
    }


    .tarjeta-fullbg--yatch {
        background-image: url(../img/paella-mariscos-langosta-san-blas-on-sailboats.webp);
        background-size: cover;
    }

    .tarjeta-fullbg--experiences {
        background-image: url(../img/snorkeling-sanblasonsailboats.jpg);
        background-size: cover;
    }
}


// interes
.interest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 55px;

    .tarjeta {
        overflow: hidden;
        /* oculta lo que se salga */
        position: relative;

        h2 {
            position: absolute;
            /* se superpone sobre el video */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* lo centra */
            font-family: "amatic sc";
            color: white;
            font-size: 84px;
            line-height: 94px;
            font-weight: 700;
            text-align: center;
            z-index: 1;
            text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.7);
        }
    }

    .tarjeta video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* hace que el video llene el div y se recorte */
        display: block;
        border-radius: 12px;
    }

    .flex-tags {
        padding: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;

        .tagsi {
            display: inline-flex;
            background-color: $oaqua;
            color: $ocean;
            font-weight: 500;
            border: solid 1px;
            border-radius: 16px;
            padding: 5px 12px;
            margin: 0;

            p {
                margin-bottom: 0px;
            }
        }

        .tagsa {
            display: inline-flex;
            background-color: $ocean;
            color: white;
            font-weight: 700;
            border-radius: 16px;
            padding: 5px 12px;
            margin: 0;

            p {
                margin-bottom: 0px;
            }
        }
    }
}

// modal pop-up
// header
.modal-content {
    font-family: "nunito sans";

    #yachtModalLabel {
        font-family: "raleway";
        font-size: 34px;
        line-height: 34px;
        font-weight: bold;
        color: $ocean;
    }

    h3 {
        font-family: "caveat";
        font-size: 26px;
        font-weight: bold;
        color: $ocre;
    }

    h4 {
        font-family: "raleway";
        font-size: 21px;
        font-weight: bold;
        color: $aqua;
    }

    .material-icons {
        font-size: 34px;
        line-height: 32px;
        color: $ocean;
        vertical-align: middle;
    }

    p {
        display: inline;
    }

    .list-unstyled {
        gap: 21px;
    }

    .bi {
        font-size: 26px;
        color: $ocean;
        vertical-align: middle;
    }

    .lucide {
        color: $ocean;
        /* naranja */
        width: 26px;
        vertical-align: middle;
    }

    .btn-modal {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 12px 21px;
        border-radius: 16px;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        background-color: $ocre;
        border: none;
        color: white;
        transition: 0.3s;

        &:hover {
            background-color: $ocean;
            color: white;
        }
    }

    .card {
        padding: 16px 0;
    }

    .offer {
        font-family: "raleway";
        font-size: 21px;
    }

    .price {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $ocre;
        align-self: center;
        font-weight: 700;
    }

    .card h3 {
        align-self: center;
        color: $aqua;
    }

    h5 {
        margin: 0;
    }

    h3 {
        margin: 0;
    }

    h4 {
        margin: 0;
    }
}

// destination seccion
.experiences {
    h2 {
        font-family: "amatic sc";
        color: $oladrillo;
        font-size: 42px;
        font-weight: 500;
        line-height: 34px;
        font-weight: 700;
        text-align: center;

    }

    .carousel-overlay {
        p {
            text-align: center;
        }
    }

    div.carousel-indicators {
        display: none;
    }
}

// galeria
.gallery-img {
  .row {
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      transition: transform .3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

/* Evita scroll horizontal y limita el tamaño del lightbox */

/* testimonial */
.testimonial-card {
    width: 100%;
    min-height: 25vh;
    background: #ffffff;
    border-radius: 18px;
    display: flex;
    align-items: center;
}

// testimonial
.container.my-5 {
    h2 {
        font-family: "raleway";
        color: $ocean;
        font-size: 34px;
        line-height: 55px;
        font-weight: 700;
        text-align: left;
    }
}

.container.my-5.gallery {
    padding: 0;
    margin: 0;
}

// galeria en loop
.tira-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.tira {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 25s linear infinite;
}

.tira img {
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

/* Animación infinita */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}




// Footer
.footer {
    padding: 16px;
    width: 100vw;
    height: inherit;
    border-radius: 16px 16px 0 0;
    background: linear-gradient(135deg, $opasto, $pasto);

    text-align: center;

    .faqs {
        padding: 34px 16px;

        h3 {
            font-family: "amatic sc";
            font-size: 34px;
            text-align: center;
            color: rgba(whitesmoke, 0.7);
            font-weight: 700;
        }

        h2 {
            font-family: "open sans";
            font-size: 34px;
            font-weight: 600;
            text-align: center;
            color: rgba(#ffffff, 0.8)
        }

        .accordion {
            border-radius: 16px;
            background-color: $ocean;
            overflow: hidden;
        }

        .accordion-item {
            border: none;
            background-color: $ocean;
        }

        .accordion-body {
            background-color: $oladrillo;

            p {
                font-family: "open sans";
                color: white;
                text-align: left;
            }
        }

        .accordion-button:not(.collapsed) {
            background-color: $oladrillo;
            color: white;
        }

        .accordion-button:focus {
            border-color: transparent !important;
            box-shadow: none !important;
            outline: none !important;
        }
    }

    .booknow {
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 55px 0;

        .col-12 {
            padding-bottom: 55px;
            display: flex;
            flex-direction: column;

            h2 {
                text-align: center;
                font-family: "open sans";
                font-weight: bold;
                font-size: 34px;
                background: linear-gradient(135deg, $aqua, $ocean);
                -webkit-background-clip: text;
                color: transparent;
            }
        }
    }

    .ftblock-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        h4 {
            font-family: "open sans";
            font-weight: 700;
            color: white;
        }

        nav ul {
            padding: 0;
        }

        nav ul li {
            list-style: none;
        }

        nav ul li a {
            font-family: "open sans";
            color: rgba(whitesmoke, 0.7);
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;

        }
    }

    .divone {
        img {
            width: 150px;
        }

        p {
            font-family: "open sans";
            font-size: 16px;
            color: rgba(white, 0.6);
            width: 85vw;
        }
    }

    .divthree {
        padding-top: 16px;

        a {
            font-family: "open sanss";
            font-size: 21px;
            font-weight: 700;
            color: white;
        }
    }

    .ftblock-bottom {
        color: rgba(white, 0.3);
        padding-top: 16px;
        text-align: center;
    }

    a,
    a:visited,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit; // usa el color definido en i
        outline: none;
    }
}

.ft-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

    i {
        font-size: 26px;
        color: rgba(white, 0.5);
        transition: .3s ease;

        &:hover {
            color: white;
        }
    }
}