@use "../utilities/variables" as *;

// hero
.jungle-hero {
    background-image: url(../img/jungle-jumping-sanblas-on-sailboats.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    // distribution
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 16px;

    h2 {
        font-family: "open sans";
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 55px;
        text-shadow: 5px 5px 5px black;
    }

    h1 {
        font-family: "amatic sc";
        font-size: 55px;
        line-height: 55px;
        text-shadow: 5px 5px 5px black;
        font-weight: 700+0.3;
    }

    p {
        font-family: "open sans";
        font-size: 16px;
        line-height: 26px;
    }

}

#included {


    h2 {
        font-family: "amatic sc";
        font-size: 55px;
        line-height: 55px;
        color: $opasto;
    }

    ul {
        font-family: "open sans";
        font-size: 16px;
        line-height: 26px;
        list-style: none;
    }

    p {
        font-size: "open sans";
        font-size: 16px;
        line-height: 26px;
        color: $ocean;
    }

}

.tarjeta {
    .it {
        font-family: "open sans";
        color: $ocre;
        font-size: 34px;
        line-height: 26px;
    }

    .hour {
        color: $oladrillo;
        font-weight: bold;
    }
}

#pricing {

    h3 {
        font-family: "open sans";
        color: $oladrillo;
        font-weight: 500;
        font-size: 16px;
    }

    h2 {
        font-family: "amatic sc";
        font-size: 34px;
        line-height: 34px;
        color: $ocean;
    }

    p {
        font-family: "open sans";
        font-size: 16px;
        line-height: 26px;
    }

    ul {
        list-style: none;
    }

    .tarjeta--color {
        background-color: linear-gradient(135deg, $ocean, $aqua 100%);
    }
}

.benefits {
    padding-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: "caveat";
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: $ocean;
    gap: 20px;

    img {
        width: 50px;
    }
}

.gallery-img {
    img {
        width: 100%;
        height: 250px; // ajusta
        object-fit: cover; // 🔥 siempre usar en galerías
        transition: transform .3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}