@use "../utilities/variables" as *;
@use "../base/reset" as *;

// hero
.jungle-hero {
    background-image: url(../../img/jungle-san-blas-onsailboats.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    // distribution
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 16px;

    h2 {
        font-family: "open sans";
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 55px;
        text-shadow: 5px 5px 5px black;
    }

    h1 {
        font-family: "amatic sc";
        font-size: 84px;
        line-height: 84px;
        text-shadow: 5px 5px 5px black;
        font-weight: 700+0.3;
    }

    p {
        font-family: "open sans";
        font-size: 16px;
        line-height: 26px;
    }

}

#included {

     background-image: url(../../img/jungles-sanblas.jpg);
    background-attachment: fixed;
    color: white;
    

    h2 {
        font-family: "amatic sc";
        font-size: 55px;
        line-height: 55px;
        color: white;
    }

    ul {
        font-family: "open sans";
        font-size: 16px;
        line-height: 26px;
        list-style: none;
        
    }

    ul li {
        color: white;
    }

    p {
        font-size: "open sans";
        font-size: 16px;
        line-height: 26px;
        color: white;
    }

    .nt {
        text-align: center;
        padding: 0 16px;
        padding-bottom: 55px;

        .not-include {
             text-shadow: 2px 2px 4px #000000;
            .material-icons {
                color: $arena;
            }
        }

        h3 {
            color: $oarena;
            font-family: "amatic sc";
            font-size: 34px;
            font-weight: 700;
        }

        p {
            font-family: "open sans";
            font-size: 21px;
            line-height: 34px;
            color: white;
        }


    }

    .counter {
        font-family: "open sans";
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
         text-shadow: 2px 2px 4px #000000;

        h3 {
            font-weight: 600;
        }

        h2 {
            font-weight: 900;
        }

        p {
            font-weight: 600;
        }

        .counter-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 34px;
          
        }
    }

}



.tarjeta {
    .it {
        font-family: "open sans";
        color: $ocre;
        font-size: 34px;
        line-height: 26px;
    }

    .hour {
        color: $oladrillo;
        font-weight: bold;
    }
}

#pricing {
    background-image: url(../../img/jungles-sanblas.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

    div {
        h3 {
            font-family: "amatic sc";
            text-align: center;
            font-size: 34px;
            font-weight: 700;
            color: white;
            padding-top: 55px;
        }

        iframe {
            height: 85vh;
            width: 100%;
        }
    }

    .tarjeta {
        width: 100%;

        h3 {
            font-family: "open sans";
            color: $oladrillo;
            font-weight: 500;
            font-size: 16px;
        }

        h2 {
            font-family: "amatic sc";
            font-size: 34px;
            line-height: 34px;
            color: $ocean;
        }

        p {
            font-family: "open sans";
            font-size: 16px;
            line-height: 26px;
        }

        ul {
            list-style: none;
        }

        .tarjeta--color {
            background-color: linear-gradient(135deg, $ocean, $aqua 100%);
        }
    }
}

.benefits {
    padding-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: "caveat";
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: $ocean;
    gap: 20px;

    img {
        width: 50px;
    }
}

.gallery-img {
    img {
        width: 100%;
        height: 550px; // ajusta
        object-fit: cover; // 🔥 siempre usar en galerías
        transition: transform .3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

}

#yachtSlidermodal .carousel-inner {
    height: 550px;
}

.itprice {
    
    .imge {
        display: none !important;
    }

    .it {
        font-family: "open sans";
        font-size: 21px;
        color: $pasto;
    }

    ul {
        list-style: none;
    }
}

#itinerary {
    
     background-image: url(../../img/jungles-sanblas.jpg);
    background-attachment: fixed;
    color: white;

    ul li {
        color: white;
    }

    h2 {
        color: white;
    }

    p {
        color:white;
    }
}