@use "../utilities/variables" as *;

// hero
.intro-experiences {
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-family: "nunito sans";
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        color: $ocre;
        text-align: center;
    }

    h2 {
        font-family: "raleway";
        font-size: 34px;
        text-align: center;
    }

    p {
        font-family: "nunito sans";
        text-align: center;
    }

    .benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 150px;
        }

        p {
            font-family: "nunito sans";
            font-size: 21px;
            font-weight: 400;
            width: 65%;
            text-align: center;
            transform: translate(25%);
        }
    }
}

.loopcarousel {
    h3 {
        text-align: center;
        font-family: "caveat";
        font-size: 34px;
        background: linear-gradient(135deg, $aqua, $ocean);
        -webkit-background-clip: text;
        color: transparent;
    }

    h2 {
        text-align: center;
        font-family: "raleway";
        font-weight: bold;
        font-size: 34px;
        padding: 0 34px;
        background: linear-gradient(135deg, $aqua, $ocean);
        -webkit-background-clip: text;
        color: transparent;
    }
}

