// VARIABLES
@use "../utilities/variables" as *;

.herosuccess {
    padding: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: "raleway";
        color: $ocean;
        font-size: 55px;
        line-height: 55px;
        font-weight: 700;
        text-align: center;
    }

    p {
        font-family: "nunito sans";
        font-size: 21px;
        font-weight: 500;
        text-align: center;
    }
}