// variables
@use "../utilities/variables" as *;

// hero
.about-hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  text-align: center;

  &__videobg {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    z-index: -1;
    pointer-events: none;
    object-fit: cover;
  }

  h1 {
    margin-top: 100px;
    font-family: "raleway";
    color: white;
    font-size: 55px;
    line-height: 55px;
    font-weight: 700;
    padding-top: 55px;
  }

  p {
    font-family: "nunito sans";
    font-size: 16px;
    color: white;
    line-height: 26px;
  }
}

// section intro about
#captain {
  padding-top: 160px;
}

.intro-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;

  img {
    width: 75%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 16px;
    border-radius: 555px
  }

  h3 {
    font-family: "caveat";
    font-size: 21px;
  }

  h2 {
    font-family: "raleway";
    font-size: 34px;
  }

  h4 {
    font-family: "nunito sans";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
  }

  p {
    text-align: center;
  }
}

.letschat {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// community
.community {
  padding: 55px 16px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 16px;
  }

  h2 {
    font-family: "raleway";
    font-size: 34px;
    line-height: 34px;
    font-weight: 700;
    color: $aqua;
  }

  .description {
    font-family: "nunito sans";
    line-height: 26px;
    font-size: 16px;
    margin-top: 1rem;
    color: $ocean;
  }
}