// VARIABLES
@use "../utilities/variables" as *;

// hero
.hero {
    min-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

    .experiences-hero__videobg {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        width: 100%;
        height: 100vh;
        border: none;
        z-index: -1;
        pointer-events: none;
        object-fit: cover;
    }

    h1 {
        font-family: "raleway";
        font-size: 55px;
        text-align: center;
        font-weight: 700;
        color: white;
    }

    h2 {
        color: white;
        font-family: "caveat";
        font-size: 26px;
        text-align: center;
        font-weight: 500;
    }

    p {
        color: white;
        font-family: "nunito sans";
        width: 100%;
        font-size: 18px;
        text-align: center;
        font-weight: 500;
    }
}

.tarjeta {
    h5 {
        margin-top: 16px;
        font-family: "raleway";
        font-size: 26px;
        text-align: center;
        font-weight: 700;
        color: $ocean;
    }

    p {
        font-family: "nunito sans";
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        font-weight: 500;
    }
}