// VARIABLES
@use "../utilities/variables" as *;

.hero-post {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        -webkit-mask-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 1) 70%,
                rgba(0, 0, 0, 0) 100%);

        mask-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 1) 70%,
                rgba(0, 0, 0, 0) 100%);
    }


    h1 {
        font-family: raleway;
        font-size: 34px;
        line-height: 44px;
        font-weight: 700;
        background: linear-gradient(135deg, $ocean, $oceanb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0 16px;
    }

    h2 {
        font-family: raleway;
        font-size: 21px;
        line-height: 34px;
        font-weight: 700;
        background: linear-gradient(135deg, $oceanb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: $ocean;
    }

    p {
        font-family: "nunito sans";
        font-size: 21px;
        color: $ocean;
        line-height: 26px;
        font-weight: 400;
        padding-top: 7px;
    }
}

article {
    p {
        font-family: "nunito sans";
        font-size: 16px;
        color: $ocean;
        line-height: 26px;
        font-weight: 400;
        padding: 0 16px;
    }

    h2 {
        font-family: raleway;
        font-size: 26px;
        line-height: 26px;
        font-weight: 700;
        background: linear-gradient(35deg, $ocean, $aqua);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0 16px;
        text-align: center;
    }

    h3 {
        font-family: raleway;
        font-size: 18px;
        line-height: 36px;
        font-weight: 700;
        background: linear-gradient(135deg, $oceanb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0 16px;
        text-align: center;
    }

    h3.night {
        font-family: caveat;
        font-size: 34px;
        line-height: 26px;
        font-weight: 700;
        color: $ocre;
    }
}

.card {
    margin: 16px;

    h5 {
        font-family: raleway;
        font-size: 26px;
        line-height: 36px;
        font-weight: 700;
        background: linear-gradient(35deg, $ocean, $aqua);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0 16px;
        text-align: center;
    }

    p {
        font-family: "nunito sans";
        font-size: 16px;
        color: $ocean;
        line-height: 26px;
        font-weight: 400;
        padding: 0 16px;
    }
}

.row {
    .btn--accent {
        align-self: center;
    }
}