// VARIABLES
@use "../utilities/variables" as *;

.hero-post {
    padding: 55px 16px;
    height: 85vh;
    background: linear-gradient(180deg, $ocean, $aqua, white);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;

    h1 {
        font-family: raleway;
        font-size: 34px;
        line-height: 45px;
        font-weight: 700;
        background: linear-gradient(135deg, $ocean, $oceanb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        font-family: raleway;
        font-size: 21px;
        line-height: 34px;
        font-weight: 700;
        background: linear-gradient(135deg, $oceanb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: $ocean;
    }

    p {
        font-family: "nunito sans";
        font-size: 21px;
        color: $ocean;
        line-height: 26px;
        font-weight: 400;
        padding-top: 7px;
    }
}

article {
    p {
        font-family: "nunito sans";
        font-size: 16px;
        color: $ocean;
        line-height: 26px;
        font-weight: 400;
        padding: 0 16px;
    }

    h2 {
        font-family: raleway;
        font-size: 26px;
        line-height: 26px;
        font-weight: 700;
        background: linear-gradient(35deg, $ocean, $aqua);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0 16px;
        text-align: center;
    }

    h3 {
        font-family: raleway;
        font-size: 18px;
        line-height: 36px;
        font-weight: 700;
        background: linear-gradient(135deg, $oceanb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0 16px;
        text-align: center;
    }

    h3.night {
        font-family: caveat;
        font-size: 34px;
        line-height: 26px;
        font-weight: 700;
        color: $ocre;
    }
}

.card {
    margin: 16px;

    h5 {
        font-family: raleway;
        font-size: 26px;
        line-height: 36px;
        font-weight: 700;
        background: linear-gradient(35deg, $ocean, $aqua);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0 16px;
        text-align: center;
    }

    p {
        font-family: "nunito sans";
        font-size: 16px;
        color: $ocean;
        line-height: 26px;
        font-weight: 400;
        padding: 0 16px;
    }
}

.row {
    .btn--accent {
        align-self: center;
    }
}