@use "../utilities/variables" as *;

// hero
.intro-experiences {
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-family: "nunito sans";
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        color: $ocre;
        text-align: center;
    }

    h2 {
        font-family: "raleway";
        font-size: 34px;
        text-align: center;
    }

    p {
        font-family: "nunito sans";
        text-align: center;
    }

    .benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 50px;
        }

        p {
            font-family: "nunito sans";
            font-size: 21px;
        }
    }
}

.loopcarousel {
    h3 {
        text-align: center;
        font-family: "caveat";
        font-size: 34px;
        background: linear-gradient(135deg, $aqua, $ocean);
        -webkit-background-clip: text;
        color: transparent;
    }

    h2 {
        text-align: center;
        font-family: "raleway";
        font-weight: bold;
        font-size: 34px;
        padding: 0 34px;
        background: linear-gradient(135deg, $aqua, $ocean);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.faqs {
    padding: 34px 16px;

    h3 {
        font-family: "caveat";
        font-size: 34px;
        text-align: center;
        color: $aqua;
    }

    h2 {
        font-family: "Raleway";
        font-size: 34px;
        text-align: center;
        color: $ocean;
    }

    .accordion {
        border: solid 1px $ocre;
        border-radius: 16px;
        background-color: transparent;
        overflow: hidden;
    }

    .accordion-item {
        border: none;
        background-color: transparent;
    }

    .accordion-body {
        background-color: transparent;

        p {
            font-family: "nunito sans";
        }
    }

    .accordion-button:not(.collapsed) {
        background-color: transparent;
        color: $aqua;
    }

    .accordion-button:focus {
        border-color: transparent !important;
        box-shadow: none !important;
        outline: none !important;
    }
}

.booknow {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 0;

    .col-12 {
        padding-bottom: 55px;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            font-family: "raleway";
            font-weight: bold;
            font-size: 34px;
            background: linear-gradient(135deg, $aqua, $ocean);
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}