@use "../utilities/variables" as *;

// hero
.intro-experiences {
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-family: "caveat";
        color: $ocre;
    }

    h2 {
        font-family: "raleway";
        font-size: 34px;
        text-align: center;
    }

    p {
        font-family: "nunito sans";
        text-align: center;
    }
}

.benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loopcarousel {
    h3 {
        text-align: center;
        font-family: "caveat";
        font-size: 34px;
        background: linear-gradient(135deg, $aqua, $ocean);
        -webkit-background-clip: text;
        color: transparent;
    }

    h2 {
        text-align: center;
        font-family: "raleway";
        font-weight: bold;
        font-size: 34px;
        padding: 0 34px;
        background: linear-gradient(135deg, $aqua, $ocean);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.faqs {
    padding: 34px 16px;

    h3 {
        font-family: "caveat";
        font-size: 34px;
        text-align: center;
        color: $ladrillo;
    }

    h2 {
        font-family: "Raleway";
        font-size: 34px;
        text-align: center;
        color: $ocean;
    }
}

.booknow {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 0;

    .col-12 {
        padding-bottom: 55px;
        display: flex;
        flex-direction: column;
        h2 {
            text-align: center;
            font-family: "raleway";
            font-weight: bold;
            font-size: 55px;
            background: linear-gradient(135deg, $aqua, $ocean);
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}