@use "../utilities/variables" as *;

// reservar
.gallery {
    padding-top: 190px;
}

#booking-form {
    font-family: "nunito sans";
    margin: 16px;
    padding: 16px;
    width: calc(100vh - margin); // (16px de margen izq + 16px de margen der)
    height: inherit;
    border-radius: 16px;
    background: white; // #e0e0e0
    // Estilo Neumorphism (Shadow)
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    text-align: center;

    .form-label {
        font-family: "raleway";
        font-size: 21px;
        font-weight: bold;
        color: $aqua;
    }
}

// secure payment
.eco-friendly {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}