// variables
@use "../utilities/variables" as *;

.intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .eco-friendly {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .eco-friendly img {
        width: 50px;
    }

    h3 {
        font-family: "caveat";
        font-size: 34px;
        text-align: center;
        color: rgba($ocre, 0.9);
    }

    h1 {
        font-family: "raleway";
        font-size: 34px;
        text-align: center;
        font-weight: 700;
        color: $aqua;
    }

    p {
        font-family: "nunito sans";
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        font-weight: 500;
        color: $ocean;
        padding: 0 21px;
    }
}

.gallery {
    padding-top: 0px;
}

.tarjeta {
    margin-bottom: 55px;

    h2 {
        text-align: center;
        font-family: "raleway";
        font-size: 26px;
        font-weight: 700;
        color: $aqua;
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        /* centrar la lista entera */
    }

    ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        font-family: "nunito sans";
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;

        /* quitar el background antiguo */
        background: none;
        padding-left: 0;

        &::before {
            content: "";
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 18px;
            background: url('../img/check-icon-san-blas-on-sailboats.png') no-repeat center;
            background-size: contain;
        }
    }
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: "caveat";
        font-size: 18px;
        line-height: 26px;
        text-align: left;
        font-weight: 500;
        color: $ocre;
    }
}


.pay-safe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 55px;
    font-family: "raleway";
}